# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/

# Virtual env
venv/
env/
ENV/
.venv/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Environment
.env

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
